body{
  background:#FFFFFF;
  color:#0C1F41;
  font-family:Inter,sans-serif;
  overflow-x:hidden;
}

/* slider */
.slide{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:opacity 1.5s ease;
}
.slide.active{opacity:1}

/* reveal */
@keyframes reveal-up{
  from{opacity:0;transform:translateY(30px)}
  to{opacity:1;transform:translateY(0)}
}
.reveal{opacity:0}
.reveal-active{animation:reveal-up .8s ease forwards}

.aurora-gradient {
  background: linear-gradient(
    -45deg,
    #0C1F41,
    #133C6F,
    #2C5C93,
    #5985BD
  );
  background-size: 400% 400%;
  animation: gradientFlow 18s ease infinite;
}

/* Animación suave tipo "flujo" */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide-content {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide-content.active {
  opacity: 1;
}

.text-box {
  padding-left: 120px;
  max-width: 500px;
  color: white;
}

.text-box h1 {
  font-size: 3rem;
  font-weight: bold;
}

.text-box p {
  margin-top: 10px;
  opacity: 0.8;
}

/* animacion card */
.service-card {
  transform: scale(1);
}

/* HOVER suave */
.service-card:hover {
  transform: scale(1.05);
}

/* ACTIVA (la que el usuario toca) */
.service-card.active {
  transform: scale(1.15);
  background: linear-gradient(to bottom right, #2563eb, #1e40af);
  box-shadow: 0 25px 70px rgba(37, 99, 235, 0.5);
  z-index: 20;
}

.service-card {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.service-card.active h3,
.service-card.active p {
  color: white;
}
/* color normal del icono */
.service-icon {
  color: #60a5fa; /* azul suave */
  transition: all 0.3s ease;
}

/* cuando la card está activa */
.service-card.active .service-icon {
  color: white;
}
/* Difuminado */


.bg-team {
  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #1e293b 50%,
    #0f172a 100%
  );
}

.bg-efecto {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, #3b82f6 0%, transparent 70%);
  filter: blur(120px);
  top: -150px;
  left: -150px;
  opacity: 0.4;
  z-index: 0;
}

.bg-contacto {
  background: linear-gradient(
    135deg,
    #020617 0%,
    #0f172a 50%,
    #020617 100%
  );
}

.contacto-efecto {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #3b82f6 0%, transparent 70%);
  filter: blur(120px);
  bottom: -150px;
  right: -150px;
  opacity: 0.4;
}

.bg-footer {
  background: linear-gradient(
    135deg,
    #f8fafc 0%,   /* blanco suave */
    #e0f2fe 50%,  /* azul claro */
    #f1f5f9 100%  /* gris azulado */
  );
}

.footer-efecto {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #60a5fa 0%, transparent 70%);
  filter: blur(100px);
  bottom: -100px;
  right: -100px;
  opacity: 0.3;
}

/* Contenedor de los links para posicionamiento relativo */
.nav-links-container {
  position: relative;
  display: flex;
  gap: 2rem;
  /* 8 en Tailwind gap-8 */
}

.nav-link {
  color: #5a5c5c;
  padding: 8px 0;
  transition: color 0.3s ease;
  position: relative;
  cursor: pointer;
  font-weight: 700;
}

.nav-link:hover {
  color: #034AB0;
}

/* La línea mágica que se desliza */
#nav-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #034AB0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
}

.nav-link.active {
  color: #034AB0;
}